body {
    background-color: black;
    font-family: 'Courier New', Verdana, sans-serif;
    color: white;
    text-align: left;
}


#homepageheaders {
    text-align: center;
    font-weight: bold;
    color: burlywood;
}

img {
    width: 450px;
    height: 250px;
    margin-left: 70px;
}


