#mainheading {
    text-align: center;
    font-weight: bold;
    color: burlywood;
}

body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Verdana, sans-serif;
    font-size: small;
}

img {
    width: auto;
    height: 220px;
    padding-left: 360px;
}

h3 {
    color: burlywood;
    text-align: center;
    font-size: medium;
}